html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background: #F5F9FF;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnAdicionar{
    background-color: #2D70FD;
    font-size: 1rem;
    padding: .8rem 1rem .8rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid  #2D70FD;
    color: #fff;
    border-radius: 4px;
    &:hover{
         background-color: #5e8ef7;
    }
}
#espacoBoard{
    width: 100%;
    max-width: 60rem;
    background: #fff;
    border-radius: .8rem;
    box-shadow: .2px .5px 3px .5px #6e6e6e;
    padding: .1rem 1.4rem;
}
#inputarDados{
    display: flex;
}
h1{
    font-family: "Inter", serif;
    font-size: 3rem;
    color: #11175E;
}
input{
    font-family: "Inter", serif;
    /* color: #B1BACB; */
    color: #000;
    font-size: 1rem;
    padding: .6rem;
    border: 1px solid #EEEEEE;
    outline: 0;
    border-radius: .4rem;
    width: 100%;
    margin: 0 1rem 1rem 0;
    /* &:hover {
        border: 1px solid #2D70FD;
    } */
    &:focus{
        border: 1px solid #2D70FD;
    }
}
input
input::placeholder{
    color: #B1BACB;
}
.lista-tarefas{
    display: flex;
}
#tarefas{
    font-family: "Inter", serif;
    list-style: none;
    font-size: 1rem;
    color: #001747;
    width: 100%;
}
.titulo{
    font-weight: 500;
    font-family: "inter";
    font-size: 1rem;
}
.newTitulo{
    font-weight: 500;
    font-family: "inter";
    font-size: 1rem;
    color: rgba(143, 152, 168, 1);
    text-decoration: line-through;
    line-height: .1rem; 
}
/* .espacoTag  #true{ */
/* #tarefas #true .titulo{
    color: rgba(143, 152, 168, 1);
    text-decoration: line-through;
    line-height: .1rem;
} */
#true .titulo{
    color: rgba(143, 152, 168, 1);
    text-decoration: line-through;
    line-height: .1rem;
}
ul{
    list-style: none;
    float: left;
    margin-left: -40px;
}
.li{
    border: 1px solid #EEEEEE;
    border-radius: .6rem;
    margin-top: .6rem;
    padding: 0rem .5rem;
    display: flex;
}
.espacoTag_Dt{
    display: flex;
    justify-content: start;
    align-items: center;
}
.espacoTag{
    font-size: .9rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.tag{
    color: #B1BACB;
    border: 1px solid #B1BACB;
    border-radius: 16px;
    padding: .2rem .9rem;
    text-align: center;
}
.dataTag{
    color: #B1BACB;
    margin-left: 1rem;
}
.espacoBotaoTag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.btnConcluir{
    color: #fff;
    background: rgba(45, 112, 253, 1);
    border: none;
    border-radius: .4rem;
    padding: 12px 24px;
    font-weight: bold;
}
#newBotao{
    display: none;
}
#true .btnConcluir{
    display: none;
}
.checkedImg{
    display: none;
}
#true .checkedImg{
    display: flex !important;
}
#newImg{
    display: flex !important;
}

#contarTarefas{
    display: flex;
    justify-content: end;
    align-items: center;
}

#tarefas-progresso {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(177, 186, 203, 1);
}

@media only screen and (max-width: 768px) {
    
    header{
        margin-top: 35rem;
        margin-bottom: -2rem;
    }
    /* .nomeTarefa, .etiqueta{
        padding: .6rem 0;
    } */

    .qualities {
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;
    }
    #btnAdicionar{
        width: 100%;
    }
    #qualities {
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
    .espacoTag{
        padding: 1rem;
    }
    .espacoTag_Dt{
        display: block;
        flex-direction: column;
    }
    .espacoBotaoTag{
        width: 100%;
    }
    .tag{
        text-align: left;
        width: 4rem;
    }
    .dataTag{
        margin-left: 0;
    }
    .newTitulo{
        line-height: 1rem; 
    }
    #true .titulo{
        line-height: 1rem; 
    }
}
